{% extends "base.html" %} {% block title %}Home{% endblock %}<!--This extends base.html and then you can call the blocks you wish to change-->
{% block content %}<!--This takes the block "content" in base.html, and then inserts an header size one piece of text specified in the following line-->
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
<!--Puts these lines into the block "content" in base.html-->
